body {
  margin: 0;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  color: #fff;
}

.header a {
  padding: 1em;
  display: inline-block;
  color: #ffffff;
  font-size: 1.25em;
}
.header a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
}
.header a:hover:after {
  width: 100%;
  transition: 0.3s;
}

main {
  background-color: #000000;
  place-self: center;
}
.intro-bg {
  display: grid;
  justify-content: center;
}
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100vw;
  color: #ffffff;
  gap: 0 40px;
  box-sizing: border-box;
  padding-left: 20px;
  box-shadow: inset 0 -120px #fff;
  padding-right: 20px;
}

.intro-texto {
  color: #ffffff;
  place-self: center;
  padding-bottom: 200px;
}
.intro-texto h1 {
  font-size: 4rem;
  line-height: 1.125;
  /* padding-bottom: 10rem; */
}

.intro-texto h1 span {
  color: #feb40d;
}

.intro p {
  font-size: 1.45rem;
  color: #b2b2b2;
  padding-bottom: 2rem;
}
.intro a {
  font-size: 1.25rem;
  font-weight: 700;
  display: inline-block;
  padding: 16px 32px;
  background-color: #feb40d;
  color: #332200;
  border-radius: 4px;
}

.intro a:hover {
  background-color: #ffb60d;
}

.intro-img {
  max-width: 100%;
  grid-row: 1/3;
  grid-column: 2;
  border-radius: 4px;
}

@media (max-width: 880px) {
  .header-menu a {
    background: #111111;
    padding: 1em 2em;
    border-radius: 5px;
  }
  .header a:hover {
    background: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
  .intro-texto h1 {
    font-size: 2.45rem;
    padding-bottom: 0.4em;
  }
  .intro-texto p {
    font-size: 1.2rem;
  }
  .intro a {
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 20px;
}
@media (max-width: 600px) {
  .header-menu a {
    font-size: 1rem;
  }
.intro {
  grid-template-columns: 1fr;
}
.intro-texto {
  padding-bottom: 2em;
}
.intro-img {

  height: 300px;
}
}
