body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  color: #fff;
}

.header a {
  padding: 1em;
  display: inline-block;
  color: #ffffff;
  font-size: 1.25em;
}
.header a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #ffffff;
  margin-top: 4px;
}
.header a:hover:after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 800px) {
  .header-menu a {
    background: #111111;
    padding: 1em 2em;
    border-radius: 5px;
  }
  .header a:hover {
    background: #2e2e2e;
  }
  .header a:after {
    display: none;
  }
}
@media (max-width: 600px) {
  .header-menu a {
    font-size: 1rem;
  }
}
